.App {
  text-align: center;
}
button {
  margin: 5px 25px;
  height: 30px;
}
div {
  width: 250px;
  margin: 10px auto;
  overflow-wrap: break-word;
}
.display-input {
  margin-top: 5px;
}
form .submit-btn {
  margin: 3px 3px;
  height: 22px;
}